pkgbase = orca-qm-bin
	pkgdesc = Ab initio, DFT, and semi-empirical SCF-MO package
	pkgver = 5.0.3
	pkgrel = 1
	arch = x86_64
	license = custom
	makedepends = patchelf
	depends = openmpi
	optdepends = lmod: Usage of orca environment module
	optdepends = xtb: Semi-empirical tight binding calculations
	provides = orca-qm
	options = !strip
	source = local://orca_5_0_3_linux_x86-64_shared_openmpi411.tar.xz
	source = orca.lua
	source = orca.sh
	source = otool_xtb
	sha256sums = b8b9076d1711150a6d6cb3eb30b18e2782fa847c5a86d8404b9339faef105043
	sha256sums = 5e733fe8808e5b1a4e3b277706d392a50c5c94ece3eaf5dac05dbad31ede4c56
	sha256sums = 4a6e76e62c55a499fd0bad4cbc5308b2712610b71b371b74cda2e43b5a849778
	sha256sums = 16152a26a0706505ba5a3810e7a010c7a09c0a9afac01c4db4803424ec9ca0ad

pkgname = orca-qm-bin
