pkgbase = orca-qm-bin
	pkgdesc = Ab initio, DFT, and semi-empirical SCF-MO package
	pkgver = 5.0.1
	pkgrel = 1
	arch = x86_64
	license = custom
	makedepends = patchelf
	depends = openmpi
	optdepends = lmod: Usage of orca environment module
	provides = orca-qm
	options = !strip
	source = local://orca_5_0_1_linux_x86-64_shared_openmpi411.tar.xz
	source = orca.lua
	source = orca.sh
	sha256sums = 84199af6931de9be261685f7f1d6d63b47eed8512ce1f2f93ca5356fed1cbae8
	sha256sums = 5e733fe8808e5b1a4e3b277706d392a50c5c94ece3eaf5dac05dbad31ede4c56
	sha256sums = 4a6e76e62c55a499fd0bad4cbc5308b2712610b71b371b74cda2e43b5a849778

pkgname = orca-qm-bin
